<div class="trip-list">
  <div class="list-header">
    <button routerLink="/dashboard" class="back-btn">
      <span class="btn-icon">⬅️</span>
      Back to Dashboard
    </button>
    <h2>Trips</h2>
    <a routerLink="/trips/form" class="add-btn">
      <span class="btn-icon">➕</span>
      Add New Trip
    </a>
  </div>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <ul>
    @for (trip of trips; track trip.id) {
      <li>
        Driver ID: {{ trip.driver_id }}, Vehicle ID: {{ trip.vehicle_id }}, From: {{ trip.start_location }} to {{ trip.end_location }}, {{ trip.start_time }} - {{ trip.end_time }}
        <a [routerLink]="['/trips/form', trip.id]">Edit</a>
        <button (click)="deleteTrip(trip.id)">Delete</button>
      </li>
    }
  </ul>
</div>
