<div class="vehicle-form">
  <h2>{{ vehicleId ? 'Edit Vehicle' : 'Add Vehicle' }}</h2>
  <form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" />
      <div *ngIf="vehicleForm.get('name')?.invalid && vehicleForm.get('name')?.touched" class="error">
        Name is required.
      </div>
    </div>
    <div>
      <label for="model">Model:</label>
      <input id="model" formControlName="model" />
    </div>
    <div>
      <label for="make">Make:</label>
      <input id="make" formControlName="make" />
    </div>
    <div>
      <label for="color">Color:</label>
      <input id="color" formControlName="color" />
    </div>
    <div>
      <label for="registrationNumber">Registration Number:</label>
      <input id="registrationNumber" formControlName="registrationNumber" />
    </div>
    <div>
      <label for="licenseExpiryDate">License Expiry Date:</label>
      <input id="licenseExpiryDate" type="date" formControlName="licenseExpiryDate" />
    </div>
    <div>
      <label for="yearOfCar">Year of Car:</label>
      <input id="yearOfCar" type="number" formControlName="yearOfCar" />
      <div *ngIf="vehicleForm.get('yearOfCar')?.invalid && vehicleForm.get('yearOfCar')?.touched" class="error">
        <span *ngIf="vehicleForm.get('yearOfCar')?.errors?.['required']">Year is required.</span>
        <span *ngIf="vehicleForm.get('yearOfCar')?.errors?.['min']">Year must be at least 1900.</span>
        <span *ngIf="vehicleForm.get('yearOfCar')?.errors?.['max']">Year must be at most 2024.</span>
      </div>
    </div>
    <button type="submit" [disabled]="vehicleForm.invalid">{{ vehicleId ? 'Update' : 'Add' }}</button>
  </form>
</div>
